# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Database
db.sqlite3
db.sqlite3-journal

# Certs
certs/
*.pem

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Static files (collected)
staticfiles/
static/admin/
static/rest_framework/

# Media files (user uploads)
media/

# Django
*.log
local_settings.py

# VS Code / editor junk
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg-info/
dist/
build/